body
{

}

#heading
{
    width: 100%;
}

#heading h3
{
    display: inline;
    float: left;
}

#heading button
{
    float: right;
    border: none;
    font-size: 20px;
}

#play_button, #restart
{
    font-size: 20px;
}

#name_footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    color: black;
    background-color: white;
}


.modal-dialog 
{
    width: 60% !important;
    background-color: white !important;
}